@page "/expense"
@using Economiq.Client.Service
@using Economiq.Shared.DTO
@inject AppState _appState
@inject ExpenseService _expenseService
@implements IDisposable



 <form action="" id="ACHform">
     <h3>Expense</h3>
<div id="showswhereheaderis"></div>

	<div class="contents">


		
			<h6>Register monetary expense</h6>


		<div class="inset">
	

        	<div class="block">
          		<h3>Type of monetary expense</h3>
            	<div class="radiogrid">
              		<div class="radiorow">
                		<div class="radiocell">
                  			<input type="radio" name="option"value="NextAmountDue">
                 			 <label for="CurrentAmountDue">Bitcoin</label>
                		</div>
                  			<div class="radiocell paddingtop2"><span class="light">+2,13% Btc</span></div>
             		</div>
     
              		<div class="radiorow">
                		<div class="radiocell">
                      <input type="radio" name="option" value="RemainingBalance" />
                  			<label for="RemainingBalance">Cash</label>
              			</div>  
                 			<div class="radiocell"><span class="light" id="ctl00_ContentPlaceHolderBody_lblRemainingAmount">-46,1%</span></div>
              		</div>
         
              		<div class="radiorow">
               			<div class="radiocell">
                  			<input type="radio" name="otheramount" id="otheramount">
                  			<label for="otheramount">Amount $/Btc</label>
                		</div>
                  			<input type="text" class="textbox small" width="10" name="otheramountvalue">
              		</div>
            	</div>     
        	</div>
            
                    
           
              	<div class="textgrid">
            
                  
                   	<div class="textrow">
	<div class="lefttextinput">
                	<label class="lefttextlbl" for="RemainingBalance">Expense title</label>
                  	
                    		<input type="text" class="textbox medium" name="email" > <br />
                    	<label class="lefttextlbl" for="RemainingBalance">Expense date</label>
                  		<div class="lefttextinput">
                    		<input type="text" class="textbox medium" name="email" > <br />
                                          	<label class="lefttextlbl" for="RemainingBalance">Expense description</label>
                  		<div class="lefttextinput">
                    		<input type="text" class="textbox medium" name="email" > <br />
                                         	<label class="lefttextlbl" for="RemainingBalance">Expense category</label>
                  		<div class="lefttextinput">
                    		<input type="text" class="textbox medium" name="email" > <br />
                

                
		
				<input type="submit" name="ctl00$ContentPlaceHolderBody$btnSubmit" value="Register expense to your budget" class="btnPrimary">
			</div>
	</div>
                	</div>
           
                  	</div></div>
    		</div>  
		</div>
               </div>
		

                  </form>


@foreach(var item in expenses)
{
    <p>@item.Amount</p>
}

@code {
    private List<GetExpenseDTO> expenses = new();

    protected override async Task OnInitializedAsync()
    {
        expenses = await _expenseService.GetExpenses();
    }

    public void Dispose()
    {
        _appState.OnStateChange -= StateHasChanged;
    }
}