@page "/"
@using Economiq.Client.Service
@inject AppState _appState
@inject UserService _userService
@implements IDisposable


 
  
  <div class="box">
    <div class="infobox">
      <p class="infobox-boldtext">
    Upptäck nya Economiq appen. Fullspäckad med fiffiga funktioner.<br/>
      </p>
      <p class="infobox-slimtext">
   
      </p>
      <div class="infobox-btnwrapper">
        <button class="infobox-explorebtn selected">Create user</button>
        <button class="infobox-createbtn">Login</button>
      </div>
    </div>
    </div>
@code {

    protected override async Task OnInitializedAsync()
    {
        if (!_appState.IsLoggedIn)
        {
            await _userService.Login();
            _appState.SetUserLoggedIn();
        }
        _appState.SetPageTitle("Economiq");
        _appState.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        _appState.OnStateChange -= StateHasChanged;
    }
}