@page "/"
@using Economiq.Client.Service
@inject AppState _appState
@inject UserService _userService
@implements IDisposable

<AuthorizeView>
    <Authorized>
        <h2>Welcome @context.User.Identity.Name</h2>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome!</h1>
    </NotAuthorized>
</AuthorizeView>



@code {

    protected override async Task OnInitializedAsync()
    {
        _appState.SetPageTitle("Economiq");
        _appState.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        _appState.OnStateChange -= StateHasChanged;
    }
}