@page "/landing"


<h3>LandingPage</h3>




<div>
    <p>Here comes the logo</p>
</div>


<div>
  <MudButton Variant="Variant.Outlined" Color="Color.Primary">Register</MudButton>
  <MudButton Variant="Variant.Filled" Color="Color.Primary">Log in</MudButton>
</div>

@code {

}
