@page "/landing"
@inject NavigationManager _nav;


<h3>LandingPage</h3>




<div>
    <p>Here comes the logo</p>
</div>


<div>
    
  <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="@(NavigateRegister)" >Register</MudButton>
  <MudButton Variant="Variant.Filled" Color="Color.Primary">Log in</MudButton>
</div>




@code {

    public void NavigateRegister()
    {
        _nav.NavigateTo("/register");
    }

}
