@page "/login"
@using Economiq.Client.Service
@using Economiq.Shared.DTO
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject AuthService Service
@inject NavigationManager NavManager

<style>
    .login{
        font-family: Comfortaa;
        color: white;
 

    }
    .users{
        color: white;

    }

</style>
<br />

<h2 class="login">Login</h2>
<br />

<EditForm Model="userLogin" OnSubmit="HandleLogin">
  <div class="users">  <label for="username">Username</label>

    <InputText id="username" @bind-Value="userLogin.Username"/> <br />
    <br />
    <label for="password">Password</label>&nbsp;
    <InputText id="password" type="password" @bind-Value="userLogin.Password"/>
        <br /><br /><br />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

</EditForm>


@code {
    Credentials userLogin = new();
    string token = String.Empty;

    private async Task HandleLogin()
    {
        token = await Service.Login(userLogin);
        Console.WriteLine(token);
        await LocalStorage.SetItemAsync("token", token);
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavManager.NavigateTo("/");
    }
}
