@page "/getSum"
@inject ExpenseCategoryService _service
@using Economiq.Client.Service
@using Economiq.Shared.DTO

<h3>TestPage</h3>
@foreach(var dto in dtos){
    <p>@dto.CategoryName</p>
    <p>@dto.TotalSum</p>
    <br />
}

@code {
    private List<CategorySumDTO> dtos = new();
    protected override async Task OnInitializedAsync()
    {
        dtos = await _service.GetGraphInfo();
    }
}
