<style>
    .modal{
        background-color: #000;
        height: 100vh;
        width: 100vw; 
        opacity: 90%;          
        position: absolute; 
        top: 0;
        right: 0;
        z-index:9999;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction:column;
        text-align: center;

    }

    .modalText{
        color: white;
        display: inline-grid;
        text-align:center;


    }
    .modal-body{
    display: inline-grid;
    align-content: center;
    justify-items: center;
    text-align: center;


    }

</style>


<div class="modal">
    <div class="modal-body">
        <p class="modalText">This application contains everything you need to take control over your personal finaces.<br />
           <br /> The team behind Economiq started working on this proprietary software in late 2021 and has since the beginning taken the world by storm.<br />
            We are now the frontrunners when it comes to adding recipients and expenses. 

            <br />Do you have a Piechart-related question? We have the answers.
            <br />
            <br /> We set standards.
           <br />  We are pioneers.
            <br />We lead the monetary movement.
        </p><br />
         <button class="btn btn-primary" @onclick="(CloseModal)" >Return</button>
    </div>
</div>

@code {

    [Parameter]  
    public Action CloseModal { get; set; }

}