@using Economiq.Client.Service
@using Economiq.Shared.DTO
@inject ExpenseService _expenseService
<style>
    .Hoover:focus, .Hoover:hover {
        font-weight: bold;
    }

    .Hoover {
        cursor: pointer
    }
    .container{
        margin-top: 25px;
    }
    </style>


@if (loading)
{
    <div class="spinner-grow" style="width: 3rem; height: 3rem; color: rebeccapurple;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <div class="container">
        <CollapsableExpenseList Expenses=_expenses ShowCategory=true />
    </div>

}
@code {
    private List<GetExpenseDTO> _expenses = new();
    private bool loading = true;
    protected override async Task OnInitializedAsync()
    {
        _expenses = await _expenseService.GetExpenses();
        loading = false;
    }

    public async Task RefreshList()
    {
        _expenses = await _expenseService.GetExpenses();
        StateHasChanged();
    }
}

