<div class="navbar">
    <a class="navlogo">Economiq</a>
    <button class="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
            <path d="M3 12h18M3 6h18M3 18h18" />
        </svg>
    </button>
    <div class="navlinkwrap">
        <span class="navlink selectedlink">Home</span>
        <span class="navlink">Recipients</span>
        <span class="navlink">Expenses</span>
        <span class="navlink">Register</span>
    </div>
    <div class="buttonwrap">
        <button class="createbtn selectedbtn">CREATE BUDGET</button>
        <button class="createbtn">SIGN IN</button>
    </div>
</div>