<div class="navbar">
    <a class="navlogo" href="">Economiq</a>

    <div class="navlinkwrap">
  @*     <NavLink class="navlink" href="" Match="NavLinkMatch.All"></NavLink>*@
            <NavLink class="navlink" href="budget"> <span class="navlink">Budget</span></NavLink>
        <NavLink class="navlink" href="expense"> <span class="navlink">Expense</span></NavLink>
        <NavLink class="navlink" href="contact"> <span class="navlink">Contact</span></NavLink>
    </div>
    <div class="buttonwrap">
        <button class="createbtn selectedbtn">Sign up</button>
        <button class="createbtn selectedbtn">Sign in</button>
    </div>
</div>
@code{


}